# General Stuff
.git
.dockerignore
Dockerfile
docker-compose.yml

# Docs
*.md

# Example Files
example.env

# Env File
# Used by pipenv
.env

# Secrets
secrets

# Cached Token
# Created on Run
token.pickle

# K8S Files
k8s
