[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
discord-py = "*"
html2markdown = "*"
gcsa = "*"

[requires]
python_version = "3.8"

[scripts]
loop = "python -m app.loop"
main = "python -m app.main"
