[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
shiv = "*"

[packages]
arrow = "*"
discord-py = "*"
html2markdown = "*"
gcsa = "*"
uvloop = "*"

[requires]
python_version = "3.8"

[scripts]
loop = "python -m app.loop"
once = "python -m app.once"
tmux = "tmux new-session -d -s satania 'python -m app.loop'"
shiv-build = "./extras/shiv.sh"
shiv-run-loop = "./satania-loop.pyz"
shiv-run-once = "./satania-once.pyz"
podman-build = "sudo -E ./extras/podman-build.sh"
podman-push = "./extras/podman-push.sh"
k8s-deploy = "sudo -E ./extras/k8s-deploy.sh"
